p{
    color:rgb(88, 85, 85);
    font-family:Arial;
}
.first{
    margin-bottom:2px;
}
.sec{
    border-style:solid;
    width:300px;
    height:20px;
}
button{
    background-color:rgb(31, 81, 220);
    color:white;
    border:none;
    font-size: 20px;
    width: 400px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 30px;
}
